<div class="page-header">
	<h3><%= @page.title %></h3>
</div>
<div class="row">
	<div class="span12">
		<div class="thumbnail">
			<div class="caption">
				<p><%= @page.content %></p>
			</div>
		</div>
	</div>
</div>