<div class="row">
	<div class="span12">
		<div class="thumbnail">
			<div class="caption">
				<% if product.image_filename %>
				<p><%= image_tag product.image_filename, :width => '150' %></p>
				<% end %>
				<h4><%= link_to product.name, store_product_path(product) %></h4>
				<p><%= product.description %></p>
				<p class="price">
					<%= number_to_currency product.price %>
				</p>
			</div>
		</div>
	</div>
</div>