<div class="row">
	<div class="span12">
		<div class="thumbnail">
			<div class="caption">
				<% if product.image_filename %>
					<%= image_tag product.image_filename, :width => '150', :height => '105' %>
					<% else %>
					<div class="nopicture">
						<p class="text-center">No Image</p>
					</div>
				<% end %>
				<h4><%= link_to product.name, store_product_path(product) %></h4>
				<p><%= product.description %></p>
				<p class="price">
					<%= number_to_currency product.price %>
				</p>
			</div>
		</div>
	</div>
</div>