<div id="shoppingcart">
	<div class="thumbnail">
		<div class="page-header">
			<h5 class="text-center">My Cart</h5>
		</div>
		<% if session[:cart].empty? %>
			<p>You have no products in your cart</p>
			<% else %>
			<% @cart.each do |product| %>
				<p>
					<%= product.name %> - <%= number_to_currency product.price %>
				</p>
			<% end %>
			<p><strong>Total: <%= number_to_currency @total %></strong></p>
			<button class="btn"><i class=" icon-shopping-cart"></i> <%= link_to "View Cart", shopping_cart_path %></button>
		<% end %>
	</div>
</div>